/* Design System */
:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    /* Spacing */
    --spacing-500: 2.5rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    /* Text configuration */
    /* Text presets */
    --body-font-family: "Outfit", sans-serif;
    --text-preset-1: 1.375rem; 
    --text-preset-2: 0.9375rem;
    --text-preset-1-weight: 700;
    --text-preset-2-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--slate-300);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 27.688rem;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
    background-color: var(--white);
    border-radius: 1.25rem;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    gap: var(--spacing-300);
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 var(--spacing-200);
    gap: var(--spacing-200);

}

.card__description {
    text-align: center;
    color: var(--slate-500);
    font-size: var(--text-preset-2);
    font-family: var(--body-font-family);
    font-weight: var(--text-preset-2-weight);
    line-height: 140%;
    letter-spacing: 0.0125rem;
}

.card__title {
    text-align: center;
    color: var(--slate-900);
    font-size: var(--text-preset-1);
    font-family: var(--body-font-family);
    font-weight: var(--text-preset-1-weight);
    line-height: 120%;
    letter-spacing: 0;
}

.card__image {
    display: block;
    border-radius: 0.625rem;
}    